@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn con mắt hiển thị mật khẩu mặc định của các trình duyệt (Edge, Internet Explorer) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Ẩn con mắt mặc định trên các trình duyệt lõi Webkit (nếu có) */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}