@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translate3d(16px, -8px, 0) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

/* Ẩn con mắt hiển thị mật khẩu mặc định của các trình duyệt (Edge, Internet Explorer) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Ẩn con mắt mặc định trên các trình duyệt lõi Webkit (nếu có) */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}
