PORT=3003
DATABASE_URL="postgresql://postgres:VlGMYdxkZSuCxxfAfzOyfQXoBaZLFGoi@ballast.proxy.rlwy.net:25345/railway?schema=commerce_service"
DB_SCHEMA="commerce_service"
API_VERSION="v1"
CART_ITEM_LIMIT = "100"