PORT=3003
DATABASE_URL="postgresql://cnweb_db_gm3h_user:NUt9Ppu0aF3R0yMQfIzZ8wEpVoE4s0wE@dpg-d7nktam8bjmc738th10g-a.singapore-postgres.render.com/cnweb_db_gm3h?schema=commerce_service"
DB_SCHEMA="commerce_service"
API_VERSION="v1"

# VNPAY Config
VNP_TMN_CODE="KJPX5OMG"
VNP_HASH_SECRET="HRQHV5NUWC27Q3CG5IU554RCJSY9NFDL"
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURN_URL="http://localhost:5173/checkout"
VN_PAY_URL_TTL_MINUTES = 15 # Time to live for VNPAY payment URLs in minutes
ROUTE_CHECKOUT="/checkout"