PORT=3002
DATABASE_URL="postgresql://cnweb_db_gm3h_user:NUt9Ppu0aF3R0yMQfIzZ8wEpVoE4s0wE@dpg-d7nktam8bjmc738th10g-a.singapore-postgres.render.com/cnweb_db_gm3h?schema=catalog_service"
API_VERSION="v1"
JWT_ACCESS_SECRET="cnweb"
REDIS_URL="redis://localhost:6379"
CACHE_ENABLED="true"
CACHE_PRODUCT_LIST_TTL_SECONDS=60
CACHE_PRODUCT_DETAIL_TTL_SECONDS=60
CACHE_CATEGORY_LIST_TTL_SECONDS=300
