PORT=3002
DB_SCHEMA="catalog_service"
API_VERSION="v1"
JWT_ACCESS_SECRET="cnweb"
REDIS_URL="redis://localhost:6379"
CACHE_ENABLED="true"
CACHE_PRODUCT_LIST_TTL_SECONDS=60
CACHE_PRODUCT_DETAIL_TTL_SECONDS=60
CACHE_CATEGORY_LIST_TTL_SECONDS=300
